

.backgroundColor {
    -fx-background-color: gray;
}


.TextField {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 1px 0;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #fff;
}



/* 
.Button {
    -fx-background-color: linear-gradient(to bottom right, #288f8a, #306090);
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-border-radius: 20px;
    -fx-width: 50px;
    -fx-font-size: 14px;
}

.Button:hover {
    -fx-background-color: linear-gradient(to bottom right, #309f9a, #326498);
} */

.header{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
    -fx-border-color: #fff;
    -fx-border-width: 0 1px 0 0;
}

.date-picker .text-field {
    -fx-control-inner-background: gray ;
}

.Button{
    -fx-pref-height: 30px;
    -fx-pref-width: 150px;
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.Button:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.text-field {
    -fx-focus-traversable: false;
}

.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}